@use '@styles/mixins.module.scss' as m;
@use '@styles/variables.module.scss' as v;

.container {
    @include m.flex_box_custom(flex-start, unset, 0px);
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    height: 100vh;
    box-sizing: border-box;
    :global(.header-sidebar) {
        flex-shrink: 0;
    }
    .containerListProductCart {
        flex: 1;
        overflow-y: auto;
        margin: 20px 0;
        position: relative;

        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: #eee;
            border-radius: 10px;
        }
        .overLayLoading {
            @include m.flex_box_custom(center, center, 0px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            z-index: 10;
        }
    }

    .footerCart {
        flex-shrink: 0;
        padding-top: 15px;
        border-top: 1px solid #f1f1f1;

        .total {
            @include m.flex_box_custom(space-between, center, 0px);
            margin-bottom: 20px;

            p {
                font-weight: 600;
                font-size: 16px;
            }

            .price {
                color: v.$primary_color;
            }
        }
        .boxBtn {
            @include m.flex_box_custom(center, center, 10px);
            flex-direction: column;
        }
    }

    .boxEmpty {
        flex: 1;
        @include m.flex_box_custom(center, center, 0px);
        flex-direction: column;
        text-align: center;
        font-size: 14px;
        color: v.$four_color;

        .boxBtnEmpty {
            width: 162px;
            margin: 20px;
        }
    }
}

.isEmpty {
    justify-content: center;
}
